<header class="global-header">
    <div class="header-left">
        <i class="fa-solid fa-toilet fa-2xl text-white"></i>
        <a href="/" class="no-decoration">
            <h1 class="header-title text-4xl font-medium text-white">FLUSH FINDER</h1>
            {{#if forBusiness }}
                <p class="font-secondary text-2xl text-white">for business</p> 
            {{/if}}
        </a>
        <div class="header-search-box text-gray">
            <a id="search-box-text" href="results" class="no-decoration text-gray">
                <i class="fa-solid fa-magnifying-glass pointer-hover"></i>
                Search
            </a>
            <i class="fa-solid fa-microphone push-right pointer-hover"></i>
        </div>

    </div>
    <div class="header-right">
            {{#if loggedIn}}
                {{#unless isOwner}}
                <a class="write-review-btn no-decoration text-white" href="select-restroom">Write a Review</a>
                {{/unless}}
                <a href="profile" class="header-profile-btn">
                    <i class="fa-regular fa-user fa-lg"></i>
                </a>
            {{/if}}
            {{#if loggedIn}}
                <a class="login-btn no-decoration" href="logout">Log Out</a>
            {{else}}
                <a class="signup-btn no-decoration" href="register">Sign Up</a>
                <a class="login-btn no-decoration" href="login">Log In</a>
            {{/if}}
    </div>
</header>