@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}

.content-container{
    display:flex;
    justify-content: flex-start;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 5px 10px 19px -3px rgba(0,0,0,0.27);   
}

.left-container{
    width: 35%;
}

.left-wrapper{
    position: sticky;
    top: 10%;
}

.establishment-container{
    width: 50%;     
    border: unset;
    border-radius: 6px;
    margin: 3% 10% 10% 10%;
    padding: 5%;
   /*  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27); */
    box-shadow: 5px 10px 19px -3px rgba(0,0,0,0.27);
}

.caption-container{
    position: sticky;
    top: 0;
    width: 70%;
    margin-left: 10%;
}

.left-caption{
    /* left: calc(50% - 339px/2 - 477.5px);
    top: 217px;  */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;    
    color: #333533;
}

.establishment-container img{
    width: 100%;
}

.establishment-name{   
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 39px;
    /* identical to box height */
    color: #333533;
}

.establishment-floor{    
    
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 24px;

    color: #333533;
}

.establishment-details{    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
    color: #333533;
}

/* line */
.line{  
    border: 1px solid rgba(51, 53, 51, 0.3);
    color: rgba(51, 53, 51, 0.5);
}

/*right container*/
.right-container{
    padding: 5%;
    width: 50%;
}
.right-container label{ 
    color: #333533d5;
    font-size: larger;
    line-height: 4.5vh;
}

.right-container form{
    display: inline;
    line-break: normal;
    line-height: 1.5rem;
}
.right-container .label{
    font-size: 1.5rem;
    font-weight:bolder;
    color: #333533;
    line-height: 3rem;
}
.right-container .label-limit{
    float: right;
    font-weight:lighter;
    font-size: .6rem;
    color: #3335339c;
}

/* Rating */
.rating label {
    font-weight: 700;
    color: #F5CB5C;
}
.rating input{
    display: none;
}
.rating input + label{
    font-size: 3rem;
    text-shadow: 1px 1px 0 #ffe400;
    cursor: pointer;
}
.rating input:checked + label ~ label{
    color: #666 ;
}

#form-review {
    width: 96%;
    resize: none;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
}
#form-review-title{
    height: 2rem;
    width: 96%;
    resize:none;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    
    font-size: 1rem;
    font-weight:500;
}

.input-date{
    margin: 1%;
    padding: 4%;
    border-radius: 8px;
    border: 1px solid #333533d5;
    font-size: large;
}

.form-img-container{
    display: grid;
    place-items: center;
    text-align: center;
    width: 100%;
}
.form-img-container .form-img-wrapper{
    display: grid;
    place-items: center;
    text-align: center;
    border: 2px dashed rgba(51, 53, 51, 0.2);
    background-color: #33353313;
    border-radius: 10px;
    height: 250px;
    width: 100%;
}
.form-img-container .form-img-wrapper span{
   color: #33353375;
}

.submit {
    width: 100%;
    place-items: center;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
   
.submit:hover {
    color: #e8e8e8;
    background-color: #F5CB5C;
}  
.submit:hover::before {
    width: 100%;
}