@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  background-color: #F5F5F5;
  font-family: 'Montserrat', sans-serif;
}

.search-container{
    position: absolute;
    width: 100%;
    height: 850PX;
    left: 0px;
    top: 0px;
    background: #202020;
}
.makereview-title{
    position: absolute;
    width: 78.9vw;
    height: auto;
    left: calc(50% - 50vw/2 + 0.5px);
    top: 30.5%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 5%;
    /* identical to box height */
    color: #FFFFFF;
}
.makereview-subtitle{        
    position: absolute;
    width: 65%;
    height: auto;
    left: calc(50% - 50vw/2 + 0.5px);
    top: 37vh;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;

    color: #FFFFFF;
}

.search-box form{
    /* search bar */
    position: absolute;
    width: 50%;
    height: 7%;
    left: 25%;
    top: 411px;

    display: flex;
    align-items: center;
    flex-grow: 2;
    
    border: 1px solid #F5CB5C;
    background: #33353300;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    gap: 10px;
  }
  .search-box input{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    border: none;
    background: #33353300;
    color: #FFFFFF;
  }

  .search-box input:focus{
    outline: none;
  }
  
  .search-box-content::placeholder  {
    width: 100%;
    color: #f5cc5c1e;
  }

  #search-box-text-content:hover {
    opacity: 0.5;
  }
  
  .pointer-hover {
    cursor: pointer;
  }
  
  .fa-magnifying-glass:hover, .fa-microphone:hover {
    opacity: 0.5;
  }
  

.reviews-containter{
    position: absolute;
    width: 100%;
    height: 944px;
    left: calc(50% - 1512px/2);
    top: 850px;
    background: rgba(214, 214, 214, .25);
}

.reviews-title{
    /* Your reviews */
    position: absolute;
    width: 280;
    height: 49px;
    left: calc(50% - 268px/2 - 480px);
    top: 10rem;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */
    color: #333533;
}