<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{> header}} 
    {{{body}}}
    {{> footer}}
    <!-- For automatic page reloading upon receiving edits -->
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>