<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="css/establishmentview.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        <!-- hidden input to store the current user viewing the page -->
        <div class="w-full px-10">
            <div class="content-container">
                <div id="establishment-details-container" class="establishment-details-container">
                    <!-- DETAILS CONTAINER -->
                    <div class="establishment-details-content-container">
                        <!-- Image --> 
                        <div id="establishment-banner" class="establishment-banner"></div>
                        
                        <div class="establishment-details-text-content-container">
                            <!-- CONTENT CONTAINER -->
                            <div class="left-details-container">
                                <div class="left-title-details-container">
                                    <span class="title">{{building.name}}</span>
                                    <div class="establishment-rating">
                                        {{renderRating rating}}           
                                    </div>
                                </div>
                                
                                <div class="left-captions-details-container">
                                    <span>
                                        {{building.description}}
                                    </span>
                                </div>
                                <!--
                                <div class="left-gotomap-details-container"> <br>
                                    <div class="popup-img" id="popup-1">
                                        <div class="overlay"></div>
                                        <div class="content">
                                            <div class="closebtn" {{!-- onclick="toggleppopupclose()" --}}>&times;</div>
                                            <img src="images/campus-map-large.jpg" alt="DLSU Map">
                                        </div>
                                    </div>
                                    <button id="mapbtn"{{!--  onclick="togglepopup()" --}}>Go To DLSU Map</button>
                                </div>
                                -->
                            </div>
                        </div>

                    </div>
                </div>

                
                <div class="flex w-full m-auto overflow-hidden p-10">
                    <div class="w-full">
                        <div class="flex items-center gap-x-5 header">
                            <h1 class="review-header">Reviews</h1>
                            <div class="review-search-box text-gray">
                            <a id="search-box-text" href="#" class="no-decoration text-gray">
                                <i class="fa-solid fa-magnifying-glass pointer-hover"></i>
                                Search
                            </a>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">Sort By &nbsp;<i class="fa-solid fa-sort" style="color: #000000;"></i></button>
                                <div class="dropdown-content">
                                <a href="#">Most Recent</a>
                                <a href="#">Rating (High to Low)</a>
                                <a href="#">Rating (Low to High)</a>
                                </div>
                            </div>
                        </div>
                        <h2 class="search-line"></h2>
                        
                        <div class="w-full overflow-auto mb-10"> <!--Review Container-->
                        
                        <!-- HAVE TO ADD A CHECKER SOMEWHERE TO SEE IF THE CURRENT USER IS THE OWNER OF THE BUILDING -->
                        
                        {{#each reviews}}
                            {{> review-block modifiable=false}}
                        {{/each}}


                        </div>

                        
                    </div>
                </div>                    
            </div>
        </div>
    <script type="module" src="js/establishment-view.js"></script>
    </body>
</html>