<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="css/establishmentview.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        
    </head>
    <body>  
        <div class="w-full px-10">
            <div class="content-container">
                <div id="establishment-details-container" class="establishment-details-container">
                    <!-- DETAILS CONTAINER -->
                    <div class="establishment-details-content-container">
                        <!-- Image --> 
                        <div class="establishment-image-container"></div>
                        
                        <div class="establishment-details-text-content-container">
                            <!-- CONTENT CONTAINER -->
                            <div class="left-details-container">
                                <div class="left-title-details-container">
                                    <span class="title">HENRY SY</span>
                                    <div class="establishment-rating">
                                        <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                                        <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                                        <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                                        <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                                        <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i>              
                                    </div>
                                </div>
                                
                                <div class="left-captions-details-container">
                                    <span>
                                        Built on the concept of a habitable tree, the DLSU Henry Sy, Sr. Hall commemorates the University’s centenary and illustrates its growing role in Philippine education as well as its commitment to environmental responsibility. 
                                        <br><br>
                                        The Hall has 14 floors of eco-friendly learning spaces and function areas where the academic community can gather for relaxation, interaction with one another, and official university activities. Interior areas of the building are named after various parts of a life-giving and nurturing tree
                                    </span>
                                </div>
                                <div class="left-gotomap-details-container"> <br>
                                    <div class="popup-img" id="popup-1">
                                        <div class="overlay"></div>
                                        <div class="content">
                                            <div class="closebtn" {{!-- onclick="toggleppopupclose()" --}}>&times;</div>
                                            <img src="images/campus-map-large.jpg" alt="DLSU Map">
                                        </div>
                                    </div>
                                    <button id="mapbtn"{{!--  onclick="togglepopup()" --}}>Go To DLSU Map</button>
                                </div>
                            </div>
                            <div class="right-details-container">
                                <div class="right-details">
                                    <h1 class="right-details-amenities">Property Amenities</h1>
                                    <h2 class="search-line"></h2>
                                    <div class="right-amenities">

                                        <i class="fa-solid fa-water"></i> <span> Bidet</span>
                                        <br><i class="fa-solid fa-toilet"></i><span> Flush</span>
                                        <br><i class="fa-solid fa-box-tissue"></i><span> Tissue</span>
                                    </div>
                                </div>
                                <div class="other-right-details">
                                    <br><i class="fa-solid fa-faucet"></i><span> Faucet</span>
                                    <br><i class="fa-solid fa-hands"></i><span> Hand Dryer</span>
                                    <br><i class="fa-solid fa-soap"></i><span> Hand Soap</span>
                                </div>
                            </div>
                        </div>
                        <!-- 
                        IMAGES 
                        <div class="right-details-container">
                            <div class="img1" onclick="location.href='images/cr-henry.png'"></div>
                            <div class="img2" onclick="location.href='images/cr-temp3.jpg'"></div>
                            <div class="img3" onclick="location.href='images/cr-temp2.jpg'"></div>
                        </div> -->
                    </div>
                </div>

                
                <div class="flex w-full m-auto overflow-hidden p-10">
                    <div class="flex flex-col w-1/4 space-y-4 mt-[2.5rem]">
                        <!-- Gender Filter -->
                        <h2 class="filter-font">Filters</h2>
                        <div>
                        <label for="gender" class="font-bold">Gender</label>
                            <div>
                                <label class="flex items-center">
                                <input type="checkbox" class="form-checkbox" name="gender" value="male">
                                <span class="ml-2">Male</span>
                                </label>
                                <label class="flex items-center">
                                <input type="checkbox" class="form-checkbox" name="gender" value="female">
                                <span class="ml-2">Female</span>
                                </label>
                                <label class="flex items-center">
                                <input type="checkbox" class="form-checkbox" name="gender" value="all">
                                <span class="ml-2">All</span>
                                </label>
                            </div>
                        </div>
                        <hr class="filter-line">
                    
                        <!-- Category Filter -->
                        <div>
                        <label for="category" class="font-bold">Category</label>
                        <div>
                            <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox" name="category" value="student">
                            <span class="ml-2">Student</span>
                            </label>
                            <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox" name="category" value="faculty">
                            <span class="ml-2">Faculty</span>
                            </label>
                            <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox" name="category" value="all">
                            <span class="ml-2">All</span>
                            </label>
                        </div>
                        </div>
                        <hr class="filter-line">
                        <!-- Floor Number Filter -->
                        <div>
                        <label for="floor" class="font-bold">Floor Number: </label>
                        <select name="floor" class="form-select text-black">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="3">4</option>
                            <option value="3">5</option>
                            <option value="3">6</option>
                        </select>
                        </div>
                        <div class="mt-auto"> 
                            <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">Apply Filters</button>
                        </div>
                    </div>
                    <div class="w-3/4">
                        <div class="flex items-center gap-x-5 header">
                            <h1 class="review-header">Reviews</h1>
                            <div class="review-search-box text-gray">
                            <a id="search-box-text" href="#" class="no-decoration text-gray">
                                <i class="fa-solid fa-magnifying-glass pointer-hover"></i>
                                Search
                            </a>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">Sort By &nbsp;<i class="fa-solid fa-sort" style="color: #000000;"></i></button>
                                <div class="dropdown-content">
                                <a href="#">Most Recent</a>
                                <a href="#">Rating (High to Low)</a>
                                <a href="#">Rating (Low to High)</a>
                                </div>
                            </div>
                        </div>
                        <h2 class="search-line"></h2>
                        
                        <div class="w-full overflow-auto mb-10"> <!--Review Container-->
                            <div class="mt-8 gap-4 flex justify-center"> <!--Review Blocks-->
                                <div class="w-1/4">
                                    <img src="./images/bldg-henry.jpeg" alt="Building Image" class="rounded-sm h-auto w-auto">
                                </div>
                                <div class="flex flex-col w-3/4 gap-y-1 text-sm text-neutral-400">
                                    <div class="flex overflow-hidden">
                                        <p>Enrique Lejano posted a review for <a href="establishment" class="text-secondary">Henry Sy, 8th Floor, Male</a></p>
                                        <p class="w-fit ml-auto">5 days ago</p>
                                    </div>       
                                    <div class="mt-1">
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
                                    </div>
                                    <div class="text-white mt-1">
                                        Sobrang linis at maayos yung restroom na 'to, promise! Parang bago lang siya. Walang amoy na hindi maganda, kahit na madaming tao ang gumagamit.
                                    </div>
                                    <div class="flex mt-1 gap-x-5">
                                        <a class="hover:opacity-80"><i class="fa-regular fa-thumbs-up"></i> Clean</a>
                                        <a class="hover:opacity-80"><i class="fa-regular fa-thumbs-down"></i> Disgusting</a>
                                        <button class="hover:opacity-80" id="replytocomment1"><i class="fa-solid fa-reply" ></i> Reply</button>
                                        
                                    </div>
                                </div>  
                            </div>
                            <div class="replies-container">
                                <p  class="text-secondary" >Replies</p>
                                <div class="reply-blocks"> <!--reply Blocks-->
                                    <div class="flex flex-col w-3/4 gap-y-1 text-sm text-neutral-400">
                                        <div class="flex overflow-hidden">
                                            <p>Jose Dela Cruz <a href="establishment" class="text-secondary">owner</a> replied to a comment</p>
                                            <p class="w-fit ml-auto">2 days ago</p>
                                        </div>
                                        <div class="text-white mt-1">
                                            Thank you for taking the time to share your valuable feedback with us about our establishment
                                        </div>
                                        <div class="flex mt-1 gap-x-5">
                                            <a class="hover:opacity-80"><i class="fa-regular fa-thumbs-up"></i> Clean</a>
                                            <a class="hover:opacity-80"><i class="fa-regular fa-thumbs-down"></i> Disgusting</a>
                                                                                
                                        </div>
                                    </div>  
                                </div>
                                <div class="reply-form-container" id="reply-form-container1">
                                    <form action="" id="reply-textarea">                                     
                                        <span class="text-secondary">Write a reply</span> <br>
                                        <textarea class="text-black" name="form-review" id="form-review" cols="70" rows="3" placeholder="your reply here.."></textarea>
                                        <br>
                                        
                                        <input type="submit" class="submit"  value="Submit Review">
                                    </form>
                                </div>
                            </div>
                            <div class="mt-8 gap-4 flex justify-center"> <!--Review Blocks-->
                                <div class="w-1/4">
                                    <img src="./images/bldg-henry.jpeg" alt="Building Image" class="rounded-sm h-auto w-auto">
                                </div>
                                <div class="flex flex-col w-3/4 gap-y-1 text-sm text-neutral-400">   
                                    <div class="flex overflow-hidden">
                                        <p>Patrick Leonida posted a review for <a href="establishment" class="text-secondary">Henry Sy, 9th Floor, Male</a></p>
                                        <p class="w-fit ml-auto">10 days ago</p>
                                    </div>       
                                    <div class="mt-1">
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #a3a3a3;"></i>
                                    </div>
                                    <div class="text-white mt-1">
                                        Ay grabe, ang baho ng CR na 'to! Parang hindi na nalinis ng matagal. Nakakasuka talaga. Sana mas maalagaan nila nang maayos, kasi nakaka-turn off talaga ang amoy.
                                    </div>
                                    <div class="flex mt-1 gap-x-5">
                                        <a class="hover:opacity-80"><i class="fa-regular fa-thumbs-up"></i> Clean</a>
                                        <a class="hover:opacity-80"><i class="fa-regular fa-thumbs-down"></i> Disgusting</a>
                                        <button class="hover:opacity-80"id="replytocomment2"><i class="fa-solid fa-reply"></i> Reply</button>
                                    </div>
                                </div> 
                            </div>
                            <div class="replies-container">                
                                    <h1 class="text-secondary" id="reply-caption-container2">Replies</h1>
                                    <div class="reply-form-container" id="reply-form-container2">
                                        <form action="" id="reply-textarea">                                     
                                            <span class="text-secondary">Write a reply</span> <br>
                                            <textarea class="text-black" name="form-review" id="form-review" cols="70" rows="3" placeholder="your reply here.."></textarea>
                                            <br>
                                            
                                            <input type="submit" class="submit"  value="Submit Review">
                                        </form>
                                    </div>                                    
                                </div>
                            <div class="mt-8 gap-4 flex justify-center"> <!--Review Blocks-->
                                <div class="w-1/4">
                                    <img src="./images/bldg-henry.jpeg" alt="Building Image" class=" rounded-sm h-auto w-auto">
                                </div>
                                <div class="flex flex-col w-3/4 gap-y-1 text-sm text-neutral-400">
                                    <div class="flex overflow-hidden">
                                        <p>Mark Abergos posted a review for <a href="establishment" class="text-secondary">Henry Sy, 2nd Floor, Male</a></p>
                                        <p class="w-fit ml-auto">12 days ago</p>
                                    </div>    
                                    <div class="mt-1">
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #a3a3a3;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #a3a3a3;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #a3a3a3;"></i>
                                    </div>
                                    <div class="text-white mt-1">
                                        <p>Nakakainis talaga ang restroom na 'to! Hindi lang mabaho, kundi sobrang dumi rin. Parang hindi pinupunasan o nililinis ng maayos.</p>
                                    </div>
                                    <div class="flex mt-1 gap-x-5">
                                        <a class="hover:opacity-80"><i class="fa-regular fa-thumbs-up"></i> Clean</a>
                                        <a class="hover:opacity-80"><i class="fa-regular fa-thumbs-down"></i> Disgusting</a>
                                        <button class="hover:opacity-80" id="replytocomment3"><i class="fa-solid fa-reply"></i> Reply</button>
                                    </div>
                                </div> 
                            </div>
                            <div class="replies-container">             
                                    <h1  class="text-secondary" id="reply-caption-container3">Replies</h1>
                                    <div class="reply-form-container" id="reply-form-container3">   
                                    <form action="" id="reply-textarea">                                     
                                        <span class="text-secondary">Write a reply</span> <br>
                                        <textarea class="text-black" name="form-review" id="form-review" cols="70" rows="3" placeholder="your reply here.."></textarea>
                                        <br>
                                        
                                        <input type="submit" class="submit"  value="Submit Review">
                                    </form>
                                    </div>
                            </div> 
                            <div class="mt-8 gap-4 flex justify-center"> <!--Review Blocks-->
                                <div class="w-1/4">
                                    <img src="./images/bldg-henry.jpeg" alt="Building Image" class="rounded-sm h-auto w-auto">
                                </div>
                                <div class="flex flex-col w-3/4 gap-y-1 text-sm text-neutral-400">        
                                    <div class="flex overflow-hidden">
                                        <p>Mark Abergos posted a review for <a href="establishment" class="text-secondary">Henry Sy, 7th Floor, Male</a></p>
                                        <p class="w-fit ml-auto">19 days ago</p>
                                    </div>  
                                    <div class="mt-1">
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #a3a3a3;"></i>
                                        <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #a3a3a3;"></i>
                                    </div>
                                    <div class="text-white mt-1">
                                        Okay naman yung restroom na 'to, pero medyo kulang sa kasilyas at tissue. Hindi siya masyadong maayos ma-maintain. Pero hindi naman ganun kalala. Medyo average lang siya.
                                    </div>
                                    <div class="flex mt-1 gap-x-5">
                                        <a class="hover:opacity-80"><i class="fa-regular fa-thumbs-up"></i> Clean</a>
                                        <a class="hover:opacity-80"><i class="fa-regular fa-thumbs-down"></i> Disgusting</a>
                                        <button class="hover:opacity-80"id="replytocomment4"><i class="fa-solid fa-reply"></i> Reply</button>
                                    </div>
                                </div> 
                            </div>
                            <div class="replies-container">                                
                                    <h1  class="text-secondary"id="reply-caption-container4">Replies</h1>
                                    <div class="reply-form-container" id="reply-form-container4">    
                                        <form action="" id="reply-textarea">                                     
                                            <span class="text-secondary">Write a reply</span> <br>
                                            <textarea class="text-black" name="form-review" id="form-review" cols="70" rows="3" placeholder="your reply here.."></textarea>
                                            <br>
                                            
                                            <input type="submit" class="submit"  value="Submit Review">
                                        </form>
                                    </div> 
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
        <script> 
            
            //DLSU MAP FUNCTION
            function togglepopup(){
                document.getElementById("popup-1").classList.toggle("active");
            }
            
            document.addEventListener("DOMContentLoaded", function() {
            var mapButton = document.getElementById("mapbtn");
            mapButton.addEventListener("click", togglepopup);
            });
            
            //REPLY BUTTON FUNCTION (for comment 1)
            function togglereply1(){
                var x = document.getElementById("reply-form-container1");
                
                if(x.style.display == "none"){
                    x.style.display = "block";
                }
                else{
                    x.style.display = "none";
                }
            }
            document.addEventListener("DOMContentLoaded", function() {
            var reply = document.getElementById("replytocomment1");
            reply.addEventListener("click", togglereply1);
            });
            
            //REPLY BUTTON FUNCTION (for comment 2)
            function togglereply2(){
                var x = document.getElementById("reply-form-container2");
                var y = document.getElementById("reply-caption-container2");
                
                if(x.style.display == "none"){
                    x.style.display = "block";
                    y.style.display = "block";
                }
                else{
                    x.style.display = "none";
                    y.style.display = "none";
                }
            }
            document.addEventListener("DOMContentLoaded", function() {
            var reply = document.getElementById("replytocomment2");
            reply.addEventListener("click", togglereply2);
            });

            //REPLY BUTTON FUNCTION (for comment 3)
            function togglereply3(){
                var x = document.getElementById("reply-form-container3");
                var y = document.getElementById("reply-caption-container3");
                
                if(x.style.display == "none"){
                    x.style.display = "block";
                    y.style.display = "block";
                }
                else{
                    x.style.display = "none";
                    y.style.display = "none";
                }
            }
            document.addEventListener("DOMContentLoaded", function() {
            var reply = document.getElementById("replytocomment3");
            reply.addEventListener("click", togglereply3);
            });

            //REPLY BUTTON FUNCTION (for comment 4)
            function togglereply4(){
                var x = document.getElementById("reply-form-container4");
                var y = document.getElementById("reply-caption-container4");
                
                if(x.style.display == "none"){
                    x.style.display = "block";
                    y.style.display = "block";
                }
                else{
                    x.style.display = "none";
                    y.style.display = "none";
                }
            }
            document.addEventListener("DOMContentLoaded", function() {
            var reply = document.getElementById("replytocomment4");
            reply.addEventListener("click", togglereply4);
            });
        </script>
    </body>
</html>