<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="css/establishmentview.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        <div class="w-full px-10">
            <div class="content-container">
                <div id="establishment-details-container" class="establishment-details-container">
                    <!-- DETAILS CONTAINER -->
                    <div class="establishment-details-content-container">
                        <!-- Image --> 
                        <div id="establishment-banner" class="establishment-banner"></div>
                        
                        <div class="establishment-details-text-content-container">
                            <!-- CONTENT CONTAINER -->
                            <div class="left-details-container">
                                <div class="left-title-details-container">
                                    <span class="title">{{building.name}}</span>
                                    <div class="establishment-rating">
                                        {{renderRating rating}}           
                                    </div>
                                </div>
                                
                                <div class="left-captions-details-container">
                                    <span>
                                        {{building.description}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="flex w-full m-auto overflow-hidden p-10">
                    <div class="w-full">
                        <div class="flex items-center gap-x-5 header">
                            <h1 class="review-header">Reviews</h1>
                            <div class="review-search-box text-gray">
                            <a id="search-box-text" href="#" class="no-decoration text-gray">
                                <i class="fa-solid fa-magnifying-glass pointer-hover"></i>
                                Search
                            </a>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">Sort By &nbsp;<i class="fa-solid fa-sort" style="color: #000000;"></i></button>
                                <div class="dropdown-content">
                                <a href="#">Most Recent</a>
                                <a href="#">Rating (High to Low)</a>
                                <a href="#">Rating (Low to High)</a>
                                </div>
                            </div>
                        </div>
                        <h2 class="search-line"></h2>
                        
                        <div class="w-full overflow-auto mb-10"> <!--Review Container-->
                            {{#if ownerView}}
                                {{#each reviews}}
                                    {{> review-block modifiable=false ownerView=true}}
                                {{/each}}
                            
                            {{else}}
                                {{#each reviews}}
                                    {{> review-block modifiable=false ownerView=false}}
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    <script type="module" src="js/establishment-view.js"></script>
    </body>
</html>