<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="css/establishmentview.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>  
        <div class="w-full px-10">
            <div class="content-container">
                <div id="establishment-details-container" class="establishment-details-container">
                    <!-- DETAILS CONTAINER -->
                    <div class="establishment-details-content-container">
                        <!-- Image --> 
                        <div id="establishment-banner" class="establishment-banner"></div>
                        
                        <div class="establishment-details-text-content-container">
                            <!-- CONTENT CONTAINER -->
                            <div class="left-details-container">
                                <div class="left-title-details-container">
                                    <span class="title">{{building.name}}</span>
                                    <div class="establishment-rating">
                                        {{renderRating rating}}           
                                    </div>
                                </div>
                                
                                <div class="left-captions-details-container">
                                    <span>
                                        {{building.description}}
                                    </span>
                                </div>
                                <div class="left-gotomap-details-container"> <br>
                                    <div class="popup-img" id="popup-1">
                                        <div class="overlay"></div>
                                        <div class="content">
                                            <div class="closebtn" {{!-- onclick="toggleppopupclose()" --}}>&times;</div>
                                            <img src="images/campus-map-large.jpg" alt="DLSU Map">
                                        </div>
                                    </div>
                                    <!--<button id="mapbtn"{{!--  onclick="togglepopup()" --}}>Go To DLSU Map</button>-->
                                </div>
                            </div>
                            <!--
                            <div class="right-details-container">
                                <div class="right-details">
                                    <h1 class="right-details-amenities">Property Amenities</h1>
                                    <h2 class="search-line"></h2>
                                    <div class="right-amenities">

                                        <i class="fa-solid fa-water"></i> <span> Bidet</span>
                                        <br><i class="fa-solid fa-toilet"></i><span> Flush</span>
                                        <br><i class="fa-solid fa-box-tissue"></i><span> Tissue</span>
                                    </div>
                                </div>
                                <div class="other-right-details">
                                    <br><i class="fa-solid fa-faucet"></i><span> Faucet</span>
                                    <br><i class="fa-solid fa-hands"></i><span> Hand Dryer</span>
                                    <br><i class="fa-solid fa-soap"></i><span> Hand Soap</span>
                                </div>
                            </div>
                            -->
                        </div>
                        <!-- 
                        IMAGES 
                        <div class="right-details-container">
                            <div class="img1" onclick="location.href='images/cr-henry.png'"></div>
                            <div class="img2" onclick="location.href='images/cr-temp3.jpg'"></div>
                            <div class="img3" onclick="location.href='images/cr-temp2.jpg'"></div>
                        </div> -->
                    </div>
                </div>

                
                <div class="flex w-full m-auto overflow-hidden p-10">
                    <div class="w-full">
                        <div class="flex items-center gap-x-5 header">
                            <h1 class="review-header">Reviews</h1>
                            <div class="review-search-box text-gray">
                            <a id="search-box-text" href="#" class="no-decoration text-gray">
                                <i class="fa-solid fa-magnifying-glass pointer-hover"></i>
                                Search
                            </a>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">Sort By &nbsp;<i class="fa-solid fa-sort" style="color: #000000;"></i></button>
                                <div class="dropdown-content">
                                <a href="#">Most Recent</a>
                                <a href="#">Rating (High to Low)</a>
                                <a href="#">Rating (Low to High)</a>
                                </div>
                            </div>
                        </div>
                        <h2 class="search-line"></h2>
                        
                        <div class="w-full overflow-auto mb-10"> <!--Review Container-->
                        {{#each reviews}}
                            {{> review-block modifiable=false}}
                        {{/each}}


                        </div>

                        
                    </div>
                </div>                    
            </div>
        </div>
    <script src="js/establishment-view.js"></script>
    </body>
</html>