<!DOCTYPE html>
<html class="home-html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styles.css"> <!-- Works as the href since express uses public folder as the root -->
</head>
  <body class="home-body">
    <header class="global-header">
      <div class="header-left">
        <i class="fa-solid fa-toilet fa-2xl text-white"></i>
        <a href="/" class="no-decoration">
          <h1 class="header-title text-white">FLUSH FINDER</h1>
        </a>
        <div class="header-search-box text-gray">
          <a id="search-box-text" href="search" class="no-decoration text-gray">
            <i class="fa-solid fa-magnifying-glass pointer-hover"></i>
            Search
          </a>
          <i class="fa-solid fa-microphone push-right pointer-hover"></i>
        </div>
      </div>
      <div class="header-right">
        <a class="write-review-btn no-decoration text-white" href="search">Write a Review</a>
        <a href="profile" class="header-profile-btn">
          <i class="fa-regular fa-user fa-lg"></i>
        </a>
        <a class="signup-btn no-decoration" href="register">Sign Up</a>
        <a class="login-btn no-decoration" href="login">Log In</a>
      </div>
    </header>
    <div id="carousel-banner" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="banner">
            <div class="banner-comp">
              <h1 class="banner-text">Henry Sy Sr. Hall</h1>
              <button type="button" class="banner-button btn">
                <a class="no-decoration" href="establishment">See Reviews</a>
              </button>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="banner">
            <div class="banner-comp">
              <h1 class="banner-text">Gokongwei Hall</h1>
              <button type="button" class="banner-button btn">
                <a class="no-decoration" href="establishment">See Reviews</a>
              </button>
            </div>
          </div>
        </div>
        <!-- More carousel items with different banners... -->
      </div>
      
    </div>
    <h2 class="explore-line"><span class="explore">Explore Restrooms by Building</span></h2>
    
    <!--Explore by Building-->
    <div id="carousel-explore-buildings" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!--BUILDINGS-->
        
            <div class="restrooms">
              <!--First Building, First Carousel-->
              <div class="restroom-container">

                <div class="restroom-image">
              
                  <div class="image-name">
                    <h4>HENRY SY</h4><br/>
                  </div>
                  <div class="image-container">
                    <img src="images/bldg-henry.jpeg" alt="Bathroom Image">
                  </div>
                  <p class="image-description" >Henry Sy Sr. Hall houses De La Salle University's 14-story library. It is named after the generous benefactor, the late Mr. Henry Sy Sr.</p>

                </div>
                <div class="rating">
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i>              
                </div>
                <button type="button" class="review-button btn">
                  <a href="search" class="no-decoration">See Restrooms</a>    
                </button>
              </div>
              <!--Second Building, First Carousel-->
              <div class="restroom-container">

                <div class="restroom-image">
              
                  <div class="image-name">
                    <h4>GOKONGWEI</h4><br/>
                  </div>
                  <div class="image-container">
                    <img src="images/bldg-goks.jpeg" alt="Bathroom Image">
                  </div>
                  <p class="image-description" >Gokongwei Hall is DLSU's college of Engineering, and it also contains several laboratories for computer science.</p>

                </div>
                <div class="rating">
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i>              
                </div>
                <button type="button" class="review-button btn">
                  <a href="search" style="color: inherit;" class="no-decoration">See Restrooms</a>
    
                </button>
              </div>
              <!--Third Building, First Carousel-->
              <div class="restroom-container">

                <div class="restroom-image">
              
                  <div class="image-name">
                    <h4>VELASCO</h4><br/>
                  </div>
                  <div class="image-container">
                    <img src="images/bldg-velasco.jpeg" alt="Bathroom Image">
                  </div>
                  <p class="image-description">Velasco Hall features plenty of laboratories and classrooms that foster innovative learning.</p>

                </div>
                <div class="rating">
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i>              
                </div>
                <button type="button" class="review-button btn">
                  <a href="search" class="no-decoration">See Restrooms</a>
    
                </button>
              </div>
              <!--Fourth Building, First Carousel-->
              <div class="restroom-container">

                <div class="restroom-image">
              
                  <div class="image-name">
                    <h4>BR. ANDREW</h4><br/>
                  </div>
                  <div class="image-container">
                    <img src="images/bldg-andrew.jpg" alt="Bathroom Image">
                  </div>
                  <p class="image-description">Br. Andrew Gonzalez is the tallest higher education building in the Philippines, boasting 21 stories.</p>

                </div>
                <div class="rating">
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i>              
                </div>
                <button type="button" class="review-button btn">
                  <a href="search" class="no-decoration">See Restrooms</a>
    
                </button>
              </div>
              <!--Fifth Building, First Carousel-->
              <div class="restroom-container">

                <div class="restroom-image">
              
                  <div class="image-name">
                    <h4>RAZON'S</h4><br/>
                  </div>
                  <div class="image-container">
                    <img src="images/bldg-razons.jpeg" alt="Bathroom Image">
                  </div>
                  <p class="image-description">Enrique Razon Sports Complex contains an olympic-sized pool, basketball courts, and various gyms and classrooms.</p>

                </div>
                <div class="rating">
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i>              
                </div>
                <button type="button" class="review-button btn">
                  <a href="search" class="no-decoration">See Restrooms</a>
    
                </button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
             <!--BUILDINGS-->
            <div class="restrooms">
              <!--First Building, Second Carousel-->
              <div class="restroom-container">

                <div class="restroom-image">
              
                  <div class="image-name">
                    <h4>ST. LA SALLE</h4><br/>
                  </div>
                  <div class="image-container">
                    <img src="images/bldg-stlasalle.jpeg" alt="Bathroom Image">
                  </div>
                  <p class="image-description">St. La Salle Hall is the university's oldest building and it houses the College of Business and Economics.</p>

                </div>
                <div class="rating">
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i>              
                </div>
                <button type="button" class="review-button btn">
                  <a href="search" class="no-decoration">See Restrooms</a>
    
                </button>
              </div>
              <!--Second Building, Second Carousel-->
              <div class="restroom-container">

                <div class="restroom-image">
              
                  <div class="image-name">
                    <h4>ST. MIGUEL</h4><br/>
                  </div>
                  <div class="image-container">
                    <img src="images/bldg-miguel.jpg" alt="Bathroom Image">
                  </div>
                  <p class="image-description">St. Miguel is De La Salle University's College of Liberal Arts.</p>

                </div>
                <div class="rating">
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i> 
                  <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i>              
                </div>
                <button type="button" class="review-button btn">
                  <a href="search" class="no-decoration">See Restrooms</a>
    
                </button>
              </div>
            </div>
          </div>
          <!-- Add more carousel items  -->
        </div>
        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-explore-buildings" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-explore-buildings" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <br/>
    <h2 class="explore-line"><span class="explore">Top Rated Restrooms</span></h2>
    <!--Top Rated-->
    <div id="carousel-explore-top" class="carousel slide">
      
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!--BUILDINGS-->
          <div class="restrooms">
            <!--First Building, First Carousel-->
            <div class="restroom-container">

              <div class="restroom-image">
            
                <div class="image-name">
                  <p>6th Floor, Female</p>
                  <h4>HENRY SY</h4><br/>
                </div>
                <div class="image-container">
                  <img src="images/bldg-henry.jpeg" alt="Bathroom Image">
                </div>

                <div class="image-description">
                  <br>
                  <h4>AMENITIES:</h4>
                  <p>Bidet</p>
                  <p>Tissue</p>
                  <p>Signal</p>
                </div>

              </div>
              <div class="rating">
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i>              
              </div>
              <button type="button" class="review-button btn">
                <a href="establishment" class="no-decoration">View</a>
              </button>
            </div>
            <!--Second Building, First Carousel-->
            <div class="restroom-container">

              <div class="restroom-image">
            
                <div class="image-name">
                  <p>6th Floor, Male</p>
                  <h4>HENRY SY</h4><br/>
                </div>
                <div class="image-container">
                  <img src="images/bldg-henry.jpeg" alt="Bathroom Image">
                </div>

                <div class="image-description">
                  <br>
                  <h4>AMENITIES:</h4>
                  <p>Bidet</p>
                  <p>Tissue</p>
                  <p>Signal</p>
                </div>

              </div>
              <div class="rating">
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i>              
              </div>
              <button type="button" class="review-button btn">
                <a href="establishment" class="no-decoration">View</a>
              </button>
            </div>
            <!--Third Building, First Carousel-->
            <div class="restroom-container">

              <div class="restroom-image">
                <div class="image-name">
                  <p>12th Floor, Male</p>
                  <h4>BR. ANDREW</h4><br/>
                </div>
                <div class="image-container">
                  <img src="images/bldg-andrew.jpg" alt="Bathroom Image">
                </div>
                <div class="image-description">
                  <br/>
                  <h4>AMENITIES:</h4>
                  <p>Soap</p>
                  <p>Tissue</p>
                  <p>Signal</p>
                </div>
              </div>
              <div class="rating">
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i>       
              </div>
              <button type="button" class="review-button btn">
                <a href="establishment" class="no-decoration">View</a>
              </button>

            </div>
            <!--Fourth Building, First Carousel-->
            <div class="restroom-container">

              <div class="restroom-image">
                <div class="image-name">
                  <p>9th Floor, Female</p>
                  <h4>BR. ANDREW</h4><br/>
                </div>
                <div class="image-container">
                  <img src="images/bldg-andrew.jpg" alt="Bathroom Image">
                </div>
                <div class="image-description">
                  <br/>
                  <h4>AMENITIES:</h4>
                  <p>Soap</p>
                  <p>Tissue</p>
                  <p>Signal</p>
                </div>
              </div>
              <div class="rating">
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i>                 
              </div>
              <button type="button" class="review-button btn">
                <a href="establishment" class="no-decoration">View</a>
              </button>

            </div>
            <!--Fifth Building, First Carousel-->
            <div class="restroom-container">

              <div class="restroom-image">
                <div class="image-name">
                  <p>1st Floor, Female</p>
                  <h4>HENRY SY</h4><br/>
                </div>
                <div class="image-container">
                  <img src="images/bldg-henry.jpeg" alt="Bathroom Image">
                </div>
                <div class="image-description">
                  <h4>AMENITIES:</h4><br/>
                  <p>Bidet</p>
                  <p>Aircon</p>
                  <p>Signal</p>
                </div>
              </div>
              <div class="rating">
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl with-rating"></i> 
                <i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl no-rating"></i>              
              </div>
              <button type="button" class="review-button btn">
                <a href="establishment" class="no-decoration">View</a>
              </button>

            </div>
          </div>
        </div>

        <!-- Add more carousel items  -->
      </div>
      <!-- Carousel controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-explore-top" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-explore-top" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <footer class="global-footer">

      <div class="footer-col">
        <div class="footer-title">
          <a href="/" class="text-white no-decoration no-margin">Flush Finder</a>
        </div>
        <div class="text-gray">
          © 2023
        </div>
      </div>
      
      <div class="footer-col text-white">
        <a href="search" class="footer-heading">Explore Restrooms</a>
        <a href="search" class="footer-subheading fade-hover">by Building</a>
        <a href="search" class="footer-subheading fade-hover">by Ratings</a>
        <a href="search" class="footer-subheading fade-hover">by Gender</a>
      </div>
  
      <div class="footer-col">
        <a class="footer-heading">For Students & Faculty</a>
        <a href="login" class="footer-subheading fade-hover">Log In</a>
        <a href="signup.html" class="footer-subheading fade-hover">Sign Up</a>
        <a href="search" class="footer-subheading fade-hover">Write a Review</a>
      </div>
  
      <div class="footer-col">
        <a href="establishment-business" class="footer-heading">For Business</a>
      </div>
  
      <div class="footer-col">
        <a href="" class="footer-heading">Contact Us</a>
        <a href="" class="footer-subheading fade-hover"><i class="fa-regular fa-envelope"></i> help@flushfinder.com</a>
        <a id="social-media-icons" href="" class="footer-subheading">
          <i class="fa-brands fa-facebook fade-hover"></i>
          <i class="fa-brands fa-twitter fade-hover"></i>
          <i class="fa-brands fa-linkedin fade-hover"></i>
        </a>
      </div>
  
    </footer>
    
    <script src="//localhost:35729/livereload.js"></script>
    <script src="https://kit.fontawesome.com/3db8d82098.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
