<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Search for a Review</title>
        <link rel="stylesheet" href="css/searchReview.css">
        <script src="https://kit.fontawesome.com/defd36cc33.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles.css">
        <style>
          .global-footer {
          margin-top: 0rem;

          }
        </style>
      </head>
    <body>

        <!-- First Section of the Paage -->
        <div class="search-container">
            <span class="makereview-title">Make a <span style="color: #F5CB5C;">review</span>, make someone<span style="color: #F5CB5C;"> comfy</span></span>
            <span class="makereview-subtitle">Stories like yours are what helps flushers have better comfort. Share your experience and help out a fellow flusher!</span>
            <!-- Search box container -->
            <a href="create-review"> 
                <div class="search-box">
                <form id="search-box-content" class="text-white" action="results.html">
                    <i class="fa-solid fa-magnifying-glass pointer-hover"></i> 
                    <input type="text" class="search-box-content" placeholder="What would you like to review?">
                    <i class="fa-solid fa-microphone push-right pointer-hover"></i>                    
                </form>
              </div>
            </a>
        </div>
    </body>
</html>