<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sandbox File</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

  <h1 class="text-red-500">Test!</h1>
  <p class="text-yellow-500 text-2xl underline shadow-2xl">ASHDASHDJKASHDJKLASHDJKASHJDKA</p>
  <h2 class="text-green-600">FINALLYYYYYY</h2>

  <!-- For auto-reloading -->
  <script src="//localhost:35729/livereload.js"></script>

</body>
</html>